PORT=4000
MONGO_URI=mongodb://localhost:27017/stepreward
JWT_SECRET=supersecret
JWT_EXPIRES_IN=7d
FCM_PROJECT_ID=
FCM_CLIENT_EMAIL=
FCM_PRIVATE_KEY=
ADMIN_EMAIL=admin@stepreward.app
ADMIN_PASSWORD=Admin123!
